<div class="footer container">
    <p class="text-muted text-center">&copy; <a href="/">smashbrovideos.com</a> | <a href="/about">about</a> | <a href="https://twitter.com/realDanBoy">twitter</a> | <a href="https://reddit.com/r/smashbros">/r/smashbros</a> | <a href="https://reddit.com/r/crazyhand">/r/crazyhand</a> </p>
</div>
<script type="text/javascript" src="/assets/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/jquery.upvote.js"></script>
</body>
</html>