<% include partials/header %>

<div class="container" id="page">
    <img src="/assets/img/logo.png"  class="img-responsive center">

    <div class="all-smash-games row">
        <h1 class="text-center">404 error!</h1>
    </div>

</div>


<% include partials/footer %>
