<% include partials/header %>

<div class="container" id="page">
	<img src="/assets/img/logo.png"  class="img-responsive center">

	<div class="all-smash-games row">
		<div class="col-md-3"><a href="/smash64"><img src="/assets/img/smash64.png" class="img-responsive center"></a></div>
		<div class="col-md-3"><a href="/melee"><img src="/assets/img/melee.png" class="img-responsive center"></a></div>
		<div class="col-md-3"><a href="/projectm"><img src="/assets/img/projectm.png" class="img-responsive center"></a></div>
		<div class="col-md-3"><a href="/smash4"><img src="/assets/img/smash4.png"  class="img-responsive center"></a></div>
	</div>

</div>


<% include partials/footer %>
